.waves-ripple {
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  user-select: none;
  transform: scale(0);
  opacity: 1;
}

.waves-ripple.z-active {
  opacity: 0;
  transform: scale(2);
  transition: opacity 1.2s ease-out, transform 0.6s ease-out;
}
