/*
 * @Author: jsjzh
 * @Email: kimimi_king@163.com
 * @LastEditors: jsjzh
 * @Date: 2019-02-28 11:41:17
 * @LastEditTime: 2019-04-29 16:22:36
 * @Description: 全局样式
 */
@import './variable.scss';

body,
html {
  font-size: 14px;
  color: $deep-color-1;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
