/*
 * @Author: jsjzh
 * @Email: kimimi_king@163.com
 * @LastEditors: jsjzh
 * @Date: 2019-02-27 18:21:10
 * @LastEditTime: 2019-02-28 16:38:49
 * @Description: 全局样式变量
 */
$deep-color-1: rgb(52, 73, 93);
$deep-color-2: rgb(44, 61, 79);
$active-color-1: rgb(238, 119, 56);
$active-color-2: rgb(245, 157, 42);
$shallow-color-1: rgb(242, 245, 247);
$shallow-color-2: rgb(253, 241, 235);

@mixin default-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-full {
  width: 100%;
}

@mixin flexWrap {
  flex-wrap: wrap;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin flexCol {
  @include flexWrap;
  flex-flow: column;
}

@mixin ps-r {
  position: relative;
}

@mixin ps-a {
  position: absolute;
}

@mixin fr {
  float: right;
}

@mixin fl {
  float: left;
}

@mixin cur-p {
  cursor: pointer;
}

@mixin cur-all {
  cursor: all-scroll;
}
