@import "./variate.scss";

.group-report-container {
  max-width: 1366px;
  margin: 0 auto;
  .layout-box {
    @include defaultBackgroundColor;
    @include defaultBorder;
    @include defaultFlex;
    flex-wrap: nowrap;
    min-height: 200px;
    margin: 1rem;
    padding: 1rem;
    color: $defaultColor;
    .box {
      @include defaultBorder;
      height: 200px;
      padding: 1rem;
      margin: 1rem;
      text-align: center;
    }
  }
}

.components-container {
  @include defaultFlex;
  justify-content: space-around;
}

.components-box {
  @include defaultBorder;
  padding: 4rem;
}
