@import '~@/assets/css/default-variable.scss';

$defaultBackground: rgba(102, 102, 102, 0.8);
$defaultControllerBarBackground: rgba(158, 158, 158, 0.5);
$defaultControllerBoxBackground: white;
$defaultColor: white;
$defaultActiveColor: black;
$dangerColor: #f44336;
$previewColBg: rgb(238, 238, 238);

@mixin btn-icon {
  font-size: 1.8rem;
}

@mixin defaultBackgroundColor {
  background-color: $defaultBackground;
}

@mixin default-col-style {
  background-color: $previewColBg;
  @include default-col-border;
  @include default-col-radius;
}

@mixin default-col-layout {
  margin: 0 0.2rem;
  @include default-flex;
}

@mixin default-col-border {
  border: 1px dashed $deep-color-2;
}

@mixin defaultBorder {
  border: 1px solid black;
}

@mixin minHeight {
  min-height: 100px;
}

@mixin default-col-radius {
  border-radius: 5px;
}

@mixin boxShadow {
  box-shadow: 2px 2px 5px rgba(158, 158, 158, 0.4);
}

@mixin boxShadowReversal {
  box-shadow: -2px 2px 5px rgba(158, 158, 158, 0.4);
}

@mixin title-margin {
  margin: 0 0.5rem;
}

@mixin previewRow {
  @include default-flex;
  width: 100%;
  flex-wrap: wrap;
}

@mixin default-background-img {
  background-size: 100%;
  background-position: center center;
}

@mixin controller-bar {
  @include ps-a;
  @include default-col-radius;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: $defaultControllerBarBackground;
  color: $defaultActiveColor;
}

@mixin previewItem {
  @include default-flex;
  @include default-col-radius;
  height: 50px;
  margin: 0 0.2rem;
}

@mixin side-controller-box {
  @include ps-a;
  @include default-col-radius;
  top: 0;
  height: 800px;
  width: 450px;
  overflow: hidden;
}

@keyframes transIcon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes transIconReversal {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
