@import '~@/styles/variable.scss';

.preview-report {
  @include ps-r;
  .preview-report-title {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    padding-top: 3rem;
  }
  .query-infos {
    width: 100%;
  }
  .preview-container {
    width: 1200px;
    margin: 0 auto;
    .layout-row {
      @include default-flex;
      @include ps-r;
      flex-wrap: nowrap;
      margin: 2rem 0;
      .layout-col {
        @include default-flex;
        @include default-background-img;
        @include ps-r;
        @include default-col-style;
        @include default-col-layout;
        .col-title {
          width: 100%;
          font-weight: 600;
        }
      }
    }
  }
}

.preview-report-report-ps-icon-btn {
  @include cur-p;
  @include ps-a;
  @include btn-icon;
  top: 0;
  right: 10%;
  font-size: 5rem;
  transition: all 0.5s;
}

.preview-report-query-data-icon-btn {
  @include cur-p;
  @include ps-a;
  @include btn-icon;
  top: 0;
  left: 10%;
  font-size: 5rem;
  transition: all 0.5s;
}

.preview-report-report-save-icon-btn {
  @include cur-p;
  @include ps-a;
  @include btn-icon;
  top: 0;
  left: 15%;
  font-size: 5rem;
  transition: all 0.5s;
}

.color-bar-ctr {
  @include ps-a;
  top: 5%;
  right: 0;
}

.color-bar {
  @include ps-a;
  top: 5%;
  right: -6.5%;
  transition: all 0.5s;
}

.color-bar:hover {
  right: 1%;
}
